.logo-img{
    height:160px;
    width:300px;
}

.logo-text{
    font-size: 50px;
}

.hr{
    border-color: black;
}
.corona-img
{
    height:100px;
    width:100px;
}
.right-sec
{
    border:1px solid black;
}